html {
  font-size: 62.5%; /* 1REM = 10px */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, .btn {
  font-family: "Roboto", "Segoe UI Emoji", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
}

/* Header - Save button */

  .header-form {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .arrow-back, .star-icon {
    cursor: pointer;
    padding: 0.5rem;
  }

  .arrow-back:hover, .star-icon:hover {
    background-color: rgb(241, 235, 235);
    padding: 0.5rem;
    border-radius: 50%;
  }

  .save-button {
    align-items: center;
    display: flex;
    gap: 1rem;
  }

  .btn-save {
    border-radius: 3rem;
    border: none;
    cursor: pointer;
    padding: 1rem 2rem;
  }

  .btn-save:hover {
    background-color: #0b57d0;
    color: #fff;
    transition: border 0.2s ease;
  }

/* Contact photo */

.contact-photo {
  display: inline-block;
  margin-bottom: 1rem;
  position: relative;
}

.img-contact-photo {
  border-radius: 50%;
  display: block;
  height: 162px;
  width: 162px;
}

.btn-add-photo {
  align-items: center;
  background-color: #0b57d0;
  border-radius: 50%;
  border: 3px solid white;
  bottom: 0.5rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  position: absolute;
  right: 0.5rem;
}

/* Form */

.form-contacts {
  line-height: 1.5rem;
}

.form-row {
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.form-icon {
  color: #333;
  font-size: 2.4rem;
}
.form-contacts {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 60rem;
}

.form-field {
  display: flex;
  flex: 1;
  margin: 0;
  position: relative;
}

.form-field-container {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.form-input {
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #B7B7B7;
  flex: 1;
  font-size: 1.4rem;
  margin: 0.5rem;
  outline: none;
  padding: 1rem 1.6rem;
  transition: border 0.2s ease;
  width: 100%;
}

.form-input:hover {
  border: 1px solid #0f0f0f;
}

.form-button {
  display: flex;
  flex: 1;
  margin-bottom: 1rem;
  margin-left: calc(2.4rem + 1rem);
  margin-right: 1rem;
}

.material-symbols-outlined {
  font-size: 1.4rem;
}

.btn .btn-icon {
  font-size: 1.8rem;
}

.btn {
  align-items: center;
  background-color: #EEF5FF;
  border-radius: 2rem;
  border: none;
  color: #0b57d0;
  display: flex;
  font-weight: 600;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.btn:hover {
  background-color: #d0e4f8;
  box-shadow: 0 1px 0 1px rgba(12, 1, 1, 0.25);
  cursor: pointer;
  transition: 0.3s;
}

.notes {
  resize: none;
  height: 10rem;
}

.form-label {
  background: white;
  color: gray;
  left: 2rem;
  padding: 0.5rem 0.5rem;
  pointer-events: none;
  position: absolute;
  top: 1.2rem;
  transition: 0.2s ease all;
}

/* Input animation */

.form-input:focus {
  border-color:#0b57d0;
  outline: none;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: #333;
  font-size: 1.2rem;
  left: 20px;
  top: -5px;
}

/* Input placeholder animation */

.input-placeholder:focus::placeholder {
  color: #999;
}

/* Select animation */

select.form-input:not(:focus):invalid + .form-label {
  color: gray;
  font-size: 1.4rem;
  top: 1.5rem;
}

select.form-input:invalid + .form-label {
  color: #333;
  font-size: 1.2rem;
  left: 20px;
  top: -5px;
}

.show-more {
  margin: 2rem 0;
}

.btn-show-more {
  background-color: transparent;
  border-radius: 3rem;
  border: none;
  color: #0b57d0;
  cursor: pointer;
  font-weight: 600;
  padding: 1rem;
}

.btn-show-more:hover {
  background-color: #EEF5FF;
  transition: border 0.2s ease;
}

/* Media queries */

@media (max-width: 600px) {

  .contact-photo {
    left: 40%;
  }

  .img-contact-photo {
    width: 100px;
    height: 100px;
  }

  .btn-add-photo {
    bottom: 0;
    right: -1rem;
  }

  .form-contacts {
    align-items: stretch;
    margin-left: 1rem;
  }

  .form-row {
    flex-direction: row;
    margin-bottom: 1.6rem;
    width: 100%;
  }

  .form-field-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }

  .form-button {
    width: 100%;
  }

  .form-input {
    margin: 1rem;
  }

  .form-label {
    top: 1.5rem;
  }
}

@media (min-width: 601px) and (max-width: 900px) {

  .contact-photo {
    left: 40%;
  }

  .btn-add-photo {
    bottom: 0;
    right: -1rem;
  }

  .form-field-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
  }
  .form-input {
    margin: 1rem;
  }

  .form-label {
    top: 1.7rem;
  }

  .multiple-input-row {
    flex-direction: row;
  }
}